# yii console command
/yii
/yii.env
/.app.env

# phpstorm project files
.idea

# vscode project files
.vscode

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
vendor

# composer itself is not needed
# composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

tests/_output/*

ACCESS.txt
_DOC
npm-debug.log
node_modules/
