AddDefaultCharset UTF-8

# mod_autoindex
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

# mod_rewrite 
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
  RewriteRule ^(.*)$ web/$1 [L]
</IfModule>

# headers_module is protect framed 
<IfModule headers_module>
       Header set X-Content-Type-Options nosniff
       Header set X-Frame-Options SAMEORIGIN
</IfModule>

<FilesMatch "composer\.$">
    Deny from all
</FilesMatch>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|git)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>