/*--header--*/
header {
  background: #F6F3E8; }
  header .navbar-nav a {
    height: 100%;
    line-height: normal; }
  header .navbar {
    min-height: 0;
    height: 68px;
    background: #FFFFFF;
    border-bottom: none;
    border-radius: 0; }
    header .navbar .large-container {
      display: flex;
      align-items: center; }
  header .navbar-right {
    margin-right: 0; }
    header .navbar-right li {
      height: 100%; }
  header .top-navbar {
    background-color: #f6f3e8;
    border-bottom: 1px solid #bdbcb3;
    height: 48px; }
    header .top-navbar > container {
      height: 100%; }
    header .top-navbar .navbar-nav {
      height: 100%; }
      header .top-navbar .navbar-nav li {
        display: flex;
        align-items: center; }
  header .logo {
    float: left; }
  header .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }
  header .large-container {
    height: 100%; }
  header .tel-num {
    font-size: 21px;
    color: #41403e;
    font-family: 'HelveticaNeueCyr-Roman', 'Roboto', sans-serif;
    padding-right: 30px;
    border-right: 1px solid #BDBCB3; }
  header .glyphicon-earphone {
    top: 5px; }
  header .callback-trigger {
    color: #41403e;
    font-size: 15px;
    font-family: 'HelveticaNeueCyr-Roman', 'Roboto', sans-serif;
    display: flex !important;
    height: auto !important;
    padding: 0 30px;
    border-right: 1px solid #BDBCB3; }
    header .callback-trigger > span {
      border-bottom: 1px dashed #444444;
      transition: all 0.2s ease; }
    header .callback-trigger:hover > span {
      border-bottom: 1px dashed transparent; }
  header #select-city {
    color: #41403e;
    font-size: 15px;
    font-family: 'HelveticaNeueCyr-Roman', 'Roboto', sans-serif;
    position: relative; }
    header #select-city:after {
      content: "\e114";
      font-family: 'Glyphicons Halflings';
      color: #F34445;
      font-size: 13px;
      margin-left: 3px;
      position: relative;
      top: 1px; }
  header .country:after {
    content: "|";
    margin: 0 2px; }
  header .my-notebook {
    padding: 0 !important;
    display: flex !important;
    align-items: center;
    color: #444444;
    font-size: 15px;
    text-transform: uppercase;
    border-right: 1px solid #BDBCB3; }
    header .my-notebook .red-but {
      width: 53px;
      background: #EC4445;
      color: #FEF6F6;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px; }
    header .my-notebook .inscription {
      padding: 0 15px;
      font-weight: bold; }
  header .logo {
    width: 240px; }
    header .logo > img {
      display: block;
      width: 100%;
      height: auto; }
  header .navbar-collapse.collapse {
    height: 100% !important;
    display: flex !important;
    align-items: center; }
  header #main-menu {
    font-size: 16px;
    font-family: 'HelveticaNeueCyr-Roman', 'Roboto', sans-serif; }
    header #main-menu a {
      color: #444;
      text-decoration: underline;
      margin: 0 5px; }
      header #main-menu a:hover {
        background: transparent; }
    header #main-menu .navbar-nav {
      margin: 0 25px; }
  header .city-select-cont {
    background: #E3E0D5;
    min-height: 100px; }
    header .city-select-cont .top-panel {
      border-bottom: 1px solid #BDBCB3;
      padding: 10px 0; }
    header .city-select-cont .top-panel-in {
      height: 48px;
      display: flex;
      justify-content: space-between; }
      header .city-select-cont .top-panel-in a {
        color: #41403e;
        display: flex;
        align-items: center;
        padding: 0 20px; }
    header .city-select-cont .set-country {
      text-transform: uppercase;
      border-right: 1px solid #BDBCB3; }

/*# sourceMappingURL=header.scss.css.map */
