@media screen and (max-width: 768px) {
  header .my-notebook.open object .dropdown-menu {
    position: absolute;
    background-color: #FFFFFF;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
  header .country, header .city {
    display: none; }
  header #select-city:after {
    display: none; }
  header .top-navbar .navbar-nav {
    margin: 0; }
  header .large-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    header .large-container:after, header .large-container:before {
      display: none; }
    header .large-container .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0; }
      header .large-container .row:after, header .large-container .row:before {
        display: none; }
  header #main-menu {
    overflow: hidden;
    margin: 0 !important; }
  header .navbar-toggle {
    margin-right: auto;
    margin-left: auto; }
  .italian-furn .one-cat {
    border-bottom: 1px solid #A6A6A6 !important; }
    .italian-furn .one-cat:nth-child(4n+2) {
      border-right: none; }
  .sale {
    padding: 0 10px; }
    .sale .left-side .img-cont {
      height: 150px; }
  .popular-fabr {
    padding: 0 10px; }
  .reviews .quote {
    font-size: 18px; }
  footer .partner-cities ul {
    column-count: 3; }
  body .sale .left-side .img-cont,
  body .sale .right-side .img-cont {
    height: 150px; }
  .factories {
    padding: 0 10px; }
  .concact-page h1 {
    font-size: 28px; }
  .concact-page .one-cont {
    width: 100%; }
    .concact-page .one-cont h4 {
      font-size: 13px; }
    .concact-page .one-cont > a {
      font-size: 19px; }
  .sign-in-page {
    padding: 15px 0; }
    .sign-in-page .col-md-4 {
      border-right: 0; }
    .sign-in-page .flex.row {
      display: block; }
  .add-to-notepad .icon {
    position: static;
    border: none;
    transform: translateY(0); }
  .add-to-notepad h3 {
    padding: 10px;
    font-size: 14px; }
  .factory-profile .part-contact label {
    margin-bottom: 5px; }
  .factory-profile .one-row {
    margin-bottom: 25px; }
  .city-partner h1 {
    font-size: 27px; }
  .change-pass h1 {
    font-size: 29px; }
  body .create-sale .form-horizontal {
    width: 100%; }
  body .create-sale .price-row .col-sm-1 {
    float: left;
    width: 15%; }
  body .create-sale .col-form-label {
    width: 100%;
    float: left; }
  .tomassy-page .text-col {
    column-count: 1; }
  .tomassy-page .top-topm-header h3 {
    font-size: 13px;
    width: 50%; }
  .tomassy-page .text-description {
    padding: 20px 40px; }
  .tomassy-page .cat-container .cat-prod .one-prod-tile {
    width: calc( 50% - 20px) !important; }
  .tomassy-page .cat-container .full-cat {
    width: 49% !important; }
  .tomassy-page .fact-slider .img-cont span {
    font-size: 28px; }
  .tomassy-page .cat-container h3 {
    padding: 6px 0; }
  .tomassy-page .copy-r {
    font-size: 10px; }
  body #factory-modal .modal-content {
    background: #FFFFFF;
    border: 1px solid #7b7a79;
    color: #545451; }
  body #factory-modal .close {
    color: #545451; }
  body #factory-modal .modal-dialog {
    margin-left: auto;
    margin-right: auto; }
  body #factory-modal .alphabet-tab-cont > div a {
    width: 50%;
    color: #545451;
    font-size: 13px; }
    body #factory-modal .alphabet-tab-cont > div a:hover {
      color: #545451; }
  body #factory-modal .alphabet-tab {
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
    justify-content: center; }
    body #factory-modal .alphabet-tab a {
      width: 45px;
      height: 45px;
      background: #E3E0D5;
      border-radius: 3px;
      margin: 0 2px 3px 2px; }
  .adding-product-page .hidden-order-in {
    flex-direction: column; }
    .adding-product-page .hidden-order-in .flex-product {
      justify-content: space-between; }
    .adding-product-page .hidden-order-in .form-wrap {
      width: 100%; }
  .adding-product-page .basket-item-info {
    width: 48%;
    margin-right: 0; }
  .novelties .item-in .left, .novelties .item-in .right {
    height: 210px !important; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoibWVkaWEvNzY4cHguY3NzIiwic291cmNlcyI6WyJtZWRpYS83NjhweC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBtZWRpYSBzY3JlZW4gYW5kIChtYXgtd2lkdGg6IDc2OHB4KSB7XHJcbiAgaGVhZGVyIHtcclxuICAgIC5teS1ub3RlYm9vay5vcGVuIHtcclxuICAgICAgb2JqZWN0IHtcclxuICAgICAgICAuZHJvcGRvd24tbWVudSB7XHJcbiAgICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjRkZGRkZGO1xyXG4gICAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgICAgICAgIGJvcmRlcjogMXB4IHNvbGlkIHJnYmEoMCwwLDAsLjE1KTtcclxuICAgICAgICAgIGJveC1zaGFkb3c6IDAgNnB4IDEycHggcmdiYSgwLDAsMCwuMTc1KTtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5jb3VudHJ5LCAuY2l0eSB7XHJcbiAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICB9XHJcbiAgICAjc2VsZWN0LWNpdHk6YWZ0ZXIge1xyXG4gICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgfVxyXG4gICAgLnRvcC1uYXZiYXIgLm5hdmJhci1uYXYge1xyXG4gICAgICBtYXJnaW46IDA7XHJcbiAgICB9XHJcbiAgICAubGFyZ2UtY29udGFpbmVyIHtcclxuICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgJjphZnRlciwgJjpiZWZvcmUge1xyXG4gICAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICAgIH1cclxuICAgICAgLnJvdyB7XHJcbiAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IDA7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAwO1xyXG4gICAgICAgICY6YWZ0ZXIsICY6YmVmb3JlIHtcclxuICAgICAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAjbWFpbi1tZW51IHtcclxuICAgICAgb3ZlcmZsb3c6IGhpZGRlbjtcclxuICAgICAgbWFyZ2luOiAwICFpbXBvcnRhbnQ7XHJcbiAgICB9XHJcbiAgICAubmF2YmFyLXRvZ2dsZSB7XHJcbiAgICAgIG1hcmdpbi1yaWdodDogYXV0bztcclxuICAgICAgbWFyZ2luLWxlZnQ6IGF1dG87XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5pdGFsaWFuLWZ1cm4gLm9uZS1jYXQge1xyXG4gICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNBNkE2QTYgIWltcG9ydGFudDtcclxuICAgICY6bnRoLWNoaWxkKDRuKzIpe1xyXG4gICAgICBib3JkZXItcmlnaHQ6IG5vbmU7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5zYWxlIHtcclxuICAgIHBhZGRpbmc6IDAgMTBweDtcclxuICAgIC5sZWZ0LXNpZGUgLmltZy1jb250IHtcclxuICAgICAgaGVpZ2h0OiAxNTBweDtcclxuICAgIH1cclxuICB9XHJcbiAgLnBvcHVsYXItZmFiciB7XHJcbiAgICBwYWRkaW5nOiAwIDEwcHg7XHJcbiAgfVxyXG4gIC5yZXZpZXdzIC5xdW90ZSB7XHJcbiAgICBmb250LXNpemU6IDE4cHg7XHJcbiAgfVxyXG4gIGZvb3RlciAucGFydG5lci1jaXRpZXMgdWwge1xyXG4gICAgY29sdW1uLWNvdW50OiAzO1xyXG4gIH1cclxuICBib2R5IC5zYWxlIC5sZWZ0LXNpZGUgLmltZy1jb250LFxyXG4gIGJvZHkgLnNhbGUgLnJpZ2h0LXNpZGUgLmltZy1jb250IHtcclxuICAgIGhlaWdodDogMTUwcHg7XHJcbiAgfVxyXG4gIC5mYWN0b3JpZXMge1xyXG4gICAgcGFkZGluZzogMCAxMHB4O1xyXG4gIH1cclxuICAuY29uY2FjdC1wYWdlIHtcclxuICAgIGgxIHtcclxuICAgICAgZm9udC1zaXplOiAyOHB4O1xyXG4gICAgfVxyXG4gICAgLm9uZS1jb250IHtcclxuICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgIGg0IHtcclxuICAgICAgICBmb250LXNpemU6IDEzcHg7XHJcbiAgICAgIH1cclxuICAgICAgJj5hIHtcclxuICAgICAgICBmb250LXNpemU6IDE5cHg7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcblxyXG4gIC5zaWduLWluLXBhZ2Uge1xyXG4gICAgcGFkZGluZzogMTVweCAwO1xyXG4gICAgLmNvbC1tZC00IHtcclxuICAgICAgYm9yZGVyLXJpZ2h0OiAwO1xyXG4gICAgfVxyXG4gICAgLmZsZXgucm93IHtcclxuICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5hZGQtdG8tbm90ZXBhZCB7XHJcbiAgICAuaWNvbiB7XHJcbiAgICAgIHBvc2l0aW9uOiBzdGF0aWM7XHJcbiAgICAgIGJvcmRlcjogbm9uZTtcclxuICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKDApO1xyXG4gICAgfVxyXG4gICAgaDMge1xyXG4gICAgICBwYWRkaW5nOiAxMHB4O1xyXG4gICAgICBmb250LXNpemU6IDE0cHg7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuZmFjdG9yeS1wcm9maWxlIHtcclxuICAgIC5wYXJ0LWNvbnRhY3Qge1xyXG4gICAgICBsYWJlbCB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogNXB4O1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAub25lLXJvdyB7XHJcbiAgICAgIG1hcmdpbi1ib3R0b206IDI1cHg7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5jaXR5LXBhcnRuZXIge1xyXG4gICAgaDEge1xyXG4gICAgICBmb250LXNpemU6IDI3cHg7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuY2hhbmdlLXBhc3Mge1xyXG4gICAgaDEge1xyXG4gICAgICBmb250LXNpemU6IDI5cHg7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICBib2R5IC5jcmVhdGUtc2FsZSB7XHJcbiAgICAuZm9ybS1ob3Jpem9udGFsIHtcclxuICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICB9XHJcbiAgICAucHJpY2Utcm93IHtcclxuICAgICAgLmNvbC1zbS0xIHtcclxuICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICB3aWR0aDogMTUlO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAuY29sLWZvcm0tbGFiZWwge1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAudG9tYXNzeS1wYWdlIHtcclxuICAgIC50ZXh0LWNvbCB7XHJcbiAgICAgIGNvbHVtbi1jb3VudDogMTtcclxuICAgIH1cclxuICAgIC50b3AtdG9wbS1oZWFkZXIgaDMge1xyXG4gICAgICBmb250LXNpemU6IDEzcHg7XHJcbiAgICAgIHdpZHRoOiA1MCU7XHJcbiAgICB9XHJcbiAgICAudGV4dC1kZXNjcmlwdGlvbiB7XHJcbiAgICAgIHBhZGRpbmc6IDIwcHggNDBweDtcclxuICAgIH1cclxuICAgIC5jYXQtY29udGFpbmVyIC5jYXQtcHJvZCAub25lLXByb2QtdGlsZSB7XHJcbiAgICAgIHdpZHRoOiBjYWxjKCA1MCUgLSAyMHB4ICkgIWltcG9ydGFudDtcclxuICAgIH1cclxuICAgIC5jYXQtY29udGFpbmVyIC5mdWxsLWNhdCB7XHJcbiAgICAgIHdpZHRoOiA0OSUgIWltcG9ydGFudDtcclxuICAgIH1cclxuICAgIC5mYWN0LXNsaWRlciAuaW1nLWNvbnQgc3BhbiB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMjhweDtcclxuICAgIH1cclxuICAgICAuY2F0LWNvbnRhaW5lciBoMyB7XHJcbiAgICAgICBwYWRkaW5nOiA2cHggMDtcclxuICAgICB9XHJcbiAgICAuY29weS1yIHtcclxuICAgICAgZm9udC1zaXplOiAxMHB4O1xyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgYm9keSAjZmFjdG9yeS1tb2RhbCB7XHJcbiAgICAubW9kYWwtY29udGVudCB7XHJcbiAgICAgIGJhY2tncm91bmQ6ICNGRkZGRkY7XHJcbiAgICAgIGJvcmRlcjogMXB4IHNvbGlkICM3YjdhNzk7XHJcbiAgICAgIGNvbG9yOiAjNTQ1NDUxO1xyXG4gICAgfVxyXG4gICAgLmNsb3NlIHtcclxuICAgICAgY29sb3I6ICM1NDU0NTE7XHJcbiAgICB9XHJcbiAgICAubW9kYWwtZGlhbG9nIHtcclxuICAgICAgbWFyZ2luLWxlZnQ6IGF1dG87XHJcbiAgICAgIG1hcmdpbi1yaWdodDogYXV0bztcclxuICAgIH1cclxuICAgIC5hbHBoYWJldC10YWItY29udCA+IGRpdiBhIHtcclxuICAgICAgd2lkdGg6IDUwJTtcclxuICAgICAgY29sb3I6ICM1NDU0NTE7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTNweDtcclxuICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgY29sb3I6ICM1NDU0NTE7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5hbHBoYWJldC10YWIge1xyXG4gICAgICBmbGV4LXdyYXA6IHdyYXA7XHJcbiAgICAgIGhlaWdodDogYXV0bztcclxuICAgICAgcGFkZGluZzogMTBweCAwO1xyXG4gICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgICAgYSB7XHJcbiAgICAgICAgd2lkdGg6IDQ1cHg7XHJcbiAgICAgICAgaGVpZ2h0OiA0NXB4O1xyXG4gICAgICAgIGJhY2tncm91bmQ6ICNFM0UwRDU7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogM3B4O1xyXG4gICAgICAgIG1hcmdpbjogMCAycHggM3B4IDJweDtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAuYWRkaW5nLXByb2R1Y3QtcGFnZSB7XHJcbiAgICAuaGlkZGVuLW9yZGVyLWluIHtcclxuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgLmZsZXgtcHJvZHVjdCB7XHJcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xyXG4gICAgICB9XHJcbiAgICAgIC5mb3JtLXdyYXAge1xyXG4gICAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAuYmFza2V0LWl0ZW0taW5mbyB7XHJcbiAgICAgIHdpZHRoOiA0OCU7XHJcbiAgICAgIG1hcmdpbi1yaWdodDogMDtcclxuICAgIH1cclxuICB9XHJcbiAgLm5vdmVsdGllcyB7XHJcbiAgICAuaXRlbS1pbiB7XHJcbiAgICAgIC5sZWZ0LCAucmlnaHQge1xyXG4gICAgICAgIGhlaWdodDogMjEwcHggIWltcG9ydGFudDtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuXHJcbn1cclxuIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLE1BQU0sQ0FBQyxNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7RUFDakMsQUFHTSxNQUhBLENBQ0osWUFBWSxBQUFBLEtBQUssQ0FDZixNQUFNLENBQ0osY0FBYyxDQUFDO0lBQ2IsUUFBUSxFQUFFLFFBQVE7SUFDbEIsZ0JBQWdCLEVBQUUsT0FBTztJQUN6QixPQUFPLEVBQUUsSUFBSTtJQUNiLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDQUFDLG1CQUFlO0lBQ2pDLFVBQVUsRUFBRSxDQUFDLENBQUMsR0FBRyxDQUFDLElBQUksQ0FBQyxvQkFBZ0IsR0FDeEM7RUFUUCxBQVlFLE1BWkksQ0FZSixRQUFRLEVBWlYsQUFZWSxNQVpOLENBWU0sS0FBSyxDQUFDO0lBQ2QsT0FBTyxFQUFFLElBQUksR0FDZDtFQWRILEFBZUUsTUFmSSxDQWVKLFlBQVksQUFBQSxNQUFNLENBQUM7SUFDakIsT0FBTyxFQUFFLElBQUksR0FDZDtFQWpCSCxBQWtCYyxNQWxCUixDQWtCSixXQUFXLENBQUMsV0FBVyxDQUFDO0lBQ3RCLE1BQU0sRUFBRSxDQUFDLEdBQ1Y7RUFwQkgsQUFxQkUsTUFyQkksQ0FxQkosZ0JBQWdCLENBQUM7SUFDZixPQUFPLEVBQUUsSUFBSTtJQUNiLGVBQWUsRUFBRSxhQUFhO0lBQzlCLEtBQUssRUFBRSxJQUFJLEdBY1o7SUF0Q0gsQUFxQkUsTUFyQkksQ0FxQkosZ0JBQWdCLEFBSWQsTUFBTyxFQXpCWCxBQXFCRSxNQXJCSSxDQXFCSixnQkFBZ0IsQUFJTCxPQUFRLENBQUM7TUFDaEIsT0FBTyxFQUFFLElBQUksR0FDZDtJQTNCTCxBQTRCSSxNQTVCRSxDQXFCSixnQkFBZ0IsQ0FPZCxJQUFJLENBQUM7TUFDSCxLQUFLLEVBQUUsSUFBSTtNQUNYLE9BQU8sRUFBRSxJQUFJO01BQ2IsZUFBZSxFQUFFLGFBQWE7TUFDOUIsV0FBVyxFQUFFLENBQUM7TUFDZCxZQUFZLEVBQUUsQ0FBQyxHQUloQjtNQXJDTCxBQTRCSSxNQTVCRSxDQXFCSixnQkFBZ0IsQ0FPZCxJQUFJLEFBTUYsTUFBTyxFQWxDYixBQTRCSSxNQTVCRSxDQXFCSixnQkFBZ0IsQ0FPZCxJQUFJLEFBTU8sT0FBUSxDQUFDO1FBQ2hCLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7RUFwQ1AsQUF1Q0UsTUF2Q0ksQ0F1Q0osVUFBVSxDQUFDO0lBQ1QsUUFBUSxFQUFFLE1BQU07SUFDaEIsTUFBTSxFQUFFLFlBQVksR0FDckI7RUExQ0gsQUEyQ0UsTUEzQ0ksQ0EyQ0osY0FBYyxDQUFDO0lBQ2IsWUFBWSxFQUFFLElBQUk7SUFDbEIsV0FBVyxFQUFFLElBQUksR0FDbEI7RUFFSCxBQUFjLGFBQUQsQ0FBQyxRQUFRLENBQUM7SUFDckIsYUFBYSxFQUFFLDRCQUE0QixHQUk1QztJQUxELEFBQWMsYUFBRCxDQUFDLFFBQVEsQUFFcEIsVUFBWSxDQUFBLElBQUksRUFBQztNQUNmLFlBQVksRUFBRSxJQUFJLEdBQ25CO0VBRUgsQUFBQSxLQUFLLENBQUM7SUFDSixPQUFPLEVBQUUsTUFBTSxHQUloQjtJQUxELEFBRWEsS0FGUixDQUVILFVBQVUsQ0FBQyxTQUFTLENBQUM7TUFDbkIsTUFBTSxFQUFFLEtBQUssR0FDZDtFQUVILEFBQUEsYUFBYSxDQUFDO0lBQ1osT0FBTyxFQUFFLE1BQU0sR0FDaEI7RUFDRCxBQUFTLFFBQUQsQ0FBQyxNQUFNLENBQUM7SUFDZCxTQUFTLEVBQUUsSUFBSSxHQUNoQjtFQUNELEFBQXVCLE1BQWpCLENBQUMsZUFBZSxDQUFDLEVBQUUsQ0FBQztJQUN4QixZQUFZLEVBQUUsQ0FBQyxHQUNoQjtFQUNELEFBQXNCLElBQWxCLENBQUMsS0FBSyxDQUFDLFVBQVUsQ0FBQyxTQUFTO0VBQy9CLEFBQXVCLElBQW5CLENBQUMsS0FBSyxDQUFDLFdBQVcsQ0FBQyxTQUFTLENBQUM7SUFDL0IsTUFBTSxFQUFFLEtBQUssR0FDZDtFQUNELEFBQUEsVUFBVSxDQUFDO0lBQ1QsT0FBTyxFQUFFLE1BQU0sR0FDaEI7RUFDRCxBQUNFLGFBRFcsQ0FDWCxFQUFFLENBQUM7SUFDRCxTQUFTLEVBQUUsSUFBSSxHQUNoQjtFQUhILEFBSUUsYUFKVyxDQUlYLFNBQVMsQ0FBQztJQUNSLEtBQUssRUFBRSxJQUFJLEdBT1o7SUFaSCxBQU1JLGFBTlMsQ0FJWCxTQUFTLENBRVAsRUFBRSxDQUFDO01BQ0QsU0FBUyxFQUFFLElBQUksR0FDaEI7SUFSTCxBQVNNLGFBVE8sQ0FJWCxTQUFTLEdBS0wsQ0FBQyxDQUFDO01BQ0YsU0FBUyxFQUFFLElBQUksR0FDaEI7RUFJTCxBQUFBLGFBQWEsQ0FBQztJQUNaLE9BQU8sRUFBRSxNQUFNLEdBT2hCO0lBUkQsQUFFRSxhQUZXLENBRVgsU0FBUyxDQUFDO01BQ1IsWUFBWSxFQUFFLENBQUMsR0FDaEI7SUFKSCxBQUtFLGFBTFcsQ0FLWCxLQUFLLEFBQUEsSUFBSSxDQUFDO01BQ1IsT0FBTyxFQUFFLEtBQUssR0FDZjtFQUVILEFBQ0UsZUFEYSxDQUNiLEtBQUssQ0FBQztJQUNKLFFBQVEsRUFBRSxNQUFNO0lBQ2hCLE1BQU0sRUFBRSxJQUFJO0lBQ1osU0FBUyxFQUFFLGFBQWEsR0FDekI7RUFMSCxBQU1FLGVBTmEsQ0FNYixFQUFFLENBQUM7SUFDRCxPQUFPLEVBQUUsSUFBSTtJQUNiLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBR0gsQUFFSSxnQkFGWSxDQUNkLGFBQWEsQ0FDWCxLQUFLLENBQUM7SUFDSixhQUFhLEVBQUUsR0FBRyxHQUNuQjtFQUpMLEFBTUUsZ0JBTmMsQ0FNZCxRQUFRLENBQUM7SUFDUCxhQUFhLEVBQUUsSUFBSSxHQUNwQjtFQUVILEFBQ0UsYUFEVyxDQUNYLEVBQUUsQ0FBQztJQUNELFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBR0gsQUFDRSxZQURVLENBQ1YsRUFBRSxDQUFDO0lBQ0QsU0FBUyxFQUFFLElBQUksR0FDaEI7RUFHSCxBQUNFLElBREUsQ0FBQyxZQUFZLENBQ2YsZ0JBQWdCLENBQUM7SUFDZixLQUFLLEVBQUUsSUFBSSxHQUNaO0VBSEgsQUFLSSxJQUxBLENBQUMsWUFBWSxDQUlmLFVBQVUsQ0FDUixTQUFTLENBQUM7SUFDUixLQUFLLEVBQUUsSUFBSTtJQUNYLEtBQUssRUFBRSxHQUFHLEdBQ1g7RUFSTCxBQVVFLElBVkUsQ0FBQyxZQUFZLENBVWYsZUFBZSxDQUFDO0lBQ2QsS0FBSyxFQUFFLElBQUk7SUFDWCxLQUFLLEVBQUUsSUFBSSxHQUNaO0VBR0gsQUFDRSxhQURXLENBQ1gsU0FBUyxDQUFDO0lBQ1IsWUFBWSxFQUFFLENBQUMsR0FDaEI7RUFISCxBQUltQixhQUpOLENBSVgsZ0JBQWdCLENBQUMsRUFBRSxDQUFDO0lBQ2xCLFNBQVMsRUFBRSxJQUFJO0lBQ2YsS0FBSyxFQUFFLEdBQUcsR0FDWDtFQVBILEFBUUUsYUFSVyxDQVFYLGlCQUFpQixDQUFDO0lBQ2hCLE9BQU8sRUFBRSxTQUFTLEdBQ25CO0VBVkgsQUFXMkIsYUFYZCxDQVdYLGNBQWMsQ0FBQyxTQUFTLENBQUMsY0FBYyxDQUFDO0lBQ3RDLEtBQUssRUFBRSxpQkFBa0IsQ0FBQyxVQUFVLEdBQ3JDO0VBYkgsQUFjaUIsYUFkSixDQWNYLGNBQWMsQ0FBQyxTQUFTLENBQUM7SUFDdkIsS0FBSyxFQUFFLGNBQWMsR0FDdEI7RUFoQkgsQUFpQnlCLGFBakJaLENBaUJYLFlBQVksQ0FBQyxTQUFTLENBQUMsSUFBSSxDQUFDO0lBQzFCLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBbkJILEFBb0JrQixhQXBCTCxDQW9CVixjQUFjLENBQUMsRUFBRSxDQUFDO0lBQ2hCLE9BQU8sRUFBRSxLQUFLLEdBQ2Y7RUF0QkosQUF1QkUsYUF2QlcsQ0F1QlgsT0FBTyxDQUFDO0lBQ04sU0FBUyxFQUFFLElBQUksR0FDaEI7RUFHSCxBQUNFLElBREUsQ0FBQyxjQUFjLENBQ2pCLGNBQWMsQ0FBQztJQUNiLFVBQVUsRUFBRSxPQUFPO0lBQ25CLE1BQU0sRUFBRSxpQkFBaUI7SUFDekIsS0FBSyxFQUFFLE9BQU8sR0FDZjtFQUxILEFBTUUsSUFORSxDQUFDLGNBQWMsQ0FNakIsTUFBTSxDQUFDO0lBQ0wsS0FBSyxFQUFFLE9BQU8sR0FDZjtFQVJILEFBU0UsSUFURSxDQUFDLGNBQWMsQ0FTakIsYUFBYSxDQUFDO0lBQ1osV0FBVyxFQUFFLElBQUk7SUFDakIsWUFBWSxFQUFFLElBQUksR0FDbkI7RUFaSCxBQWEyQixJQWJ2QixDQUFDLGNBQWMsQ0FhakIsa0JBQWtCLEdBQUcsR0FBRyxDQUFDLENBQUMsQ0FBQztJQUN6QixLQUFLLEVBQUUsR0FBRztJQUNWLEtBQUssRUFBRSxPQUFPO0lBQ2QsU0FBUyxFQUFFLElBQUksR0FJaEI7SUFwQkgsQUFhMkIsSUFidkIsQ0FBQyxjQUFjLENBYWpCLGtCQUFrQixHQUFHLEdBQUcsQ0FBQyxDQUFDLEFBSXhCLE1BQU8sQ0FBQztNQUNOLEtBQUssRUFBRSxPQUFPLEdBQ2Y7RUFuQkwsQUFxQkUsSUFyQkUsQ0FBQyxjQUFjLENBcUJqQixhQUFhLENBQUM7SUFDWixTQUFTLEVBQUUsSUFBSTtJQUNmLE1BQU0sRUFBRSxJQUFJO0lBQ1osT0FBTyxFQUFFLE1BQU07SUFDZixlQUFlLEVBQUUsTUFBTSxHQVF4QjtJQWpDSCxBQTBCSSxJQTFCQSxDQUFDLGNBQWMsQ0FxQmpCLGFBQWEsQ0FLWCxDQUFDLENBQUM7TUFDQSxLQUFLLEVBQUUsSUFBSTtNQUNYLE1BQU0sRUFBRSxJQUFJO01BQ1osVUFBVSxFQUFFLE9BQU87TUFDbkIsYUFBYSxFQUFFLEdBQUc7TUFDbEIsTUFBTSxFQUFFLGFBQWEsR0FDdEI7RUFHTCxBQUNFLG9CQURrQixDQUNsQixnQkFBZ0IsQ0FBQztJQUNmLGNBQWMsRUFBRSxNQUFNLEdBT3ZCO0lBVEgsQUFHSSxvQkFIZ0IsQ0FDbEIsZ0JBQWdCLENBRWQsYUFBYSxDQUFDO01BQ1osZUFBZSxFQUFFLGFBQWEsR0FDL0I7SUFMTCxBQU1JLG9CQU5nQixDQUNsQixnQkFBZ0IsQ0FLZCxVQUFVLENBQUM7TUFDVCxLQUFLLEVBQUUsSUFBSSxHQUNaO0VBUkwsQUFVRSxvQkFWa0IsQ0FVbEIsaUJBQWlCLENBQUM7SUFDaEIsS0FBSyxFQUFFLEdBQUc7SUFDVixZQUFZLEVBQUUsQ0FBQyxHQUNoQjtFQUVILEFBRUksVUFGTSxDQUNSLFFBQVEsQ0FDTixLQUFLLEVBRlQsQUFFVyxVQUZELENBQ1IsUUFBUSxDQUNDLE1BQU0sQ0FBQztJQUNaLE1BQU0sRUFBRSxnQkFBZ0IsR0FDekIifQ== */
