@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic-ext');
@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/helveticaneuecyr-roman.otf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeue-Light.ttf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Thin';
    src: url('../fonts/HelveticaNeue-Thin.ttf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeue-CondensedBold.ttf');
}
/*font-family: 'Open Sans', sans-serif;*/