@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext');
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic-ext'); */
@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    font-display: fallback;
    src: local('HelveticaNeueCyr-Roman'), url('../fonts/helveticaneuecyr-roman.otf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    font-display: fallback;
    src: local('HelveticaNeueCyr-Light'), url('../fonts/HelveticaNeue-Light.ttf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Thin';
    font-display: fallback;
    src: local('HelveticaNeueCyr-Thin'), url('../fonts/HelveticaNeue-Thin.ttf');
}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    font-display: fallback;
    src: local('HelveticaNeueCyr-Bold'), url('../fonts/HelveticaNeue-CondensedBold.ttf');
}
@font-face {
    font-family: 'Palatino';
    font-display: fallback;
    src: local('Palatino'), url('../fonts/palatino-linotype.woff2') format('woff2'),
        url('../fonts/palatino-linotype.woff') format('woff'),
        url('../fonts/Palatino-Linotype.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal;
}
@font-face {
    font-family: 'Palatino';
    font-display: fallback;
    src: local('Palatino'), url('../fonts/palab.woff2') format('woff2'),
        url('../fonts/palab.woff') format('woff'),
        url('../fonts/palab.ttf') format('truetype');
    font-weight: bold;  
    font-style: normal;
}
  