AddDefaultCharset UTF-8

# mod_autoindex
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# mod_rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
</IfModule>
