AddDefaultCharset UTF-8

# mod_autoindex
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# mod_rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    
    RewriteRule ^backend(.*)$ backend/$1 [L]
    RewriteRule ^promo1(.*)$ promo1/$1 [L]
    RewriteRule ^api(.*)$ api/$1 [L]

    # Переадресацыя на www
    RewriteCond %{HTTP_HOST} ^myarredo.ru [NC]
    RewriteRule ^(.*)$ https://www.myarredo.ru/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.ua [NC]
    RewriteRule ^(.*)$ https://www.myarredo.ua/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.by [NC]
    RewriteRule ^(.*)$ https://www.myarredo.by/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.de [NC]
    RewriteRule ^(.*)$ https://www.myarredo.de/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.com [NC]
    RewriteRule ^(.*)$ https://www.myarredo.com/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.kz [NC]
    RewriteRule ^(.*)$ https://www.myarredo.kz/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredofamily.com [NC]
    RewriteRule ^(.*)$ https://www.myarredofamily.com/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.co.il [NC]
    RewriteRule ^(.*)$ https://www.myarredo.ci.il/$1 [R=301,L]

    RewriteCond %{HTTP_HOST} ^myarredo.fr [NC]
    RewriteRule ^(.*)$ https://www.myarredo.fr/$1 [R=301,L]


    RewriteCond %{HTTP_HOST} ^myarredo.uk [NC]
    RewriteRule ^(.*)$ https://www.myarredo.uk/$1 [R=301,L]

    # Поддоменн без www
    RewriteCond %{HTTP_HOST} ^www\.([A-Za-z0-9_-]*)\.myarredo\.ru
    RewriteRule ^(.*)$ https://%1.myarredo.ru/$1 [R=301,L]

    # убираем index.php
    RewriteCond %{THE_REQUEST} ^.*/index.php
    RewriteRule ^(.*)index.php$ /$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . index.php [L]
</IfModule>

# headers_module is protect framed
<IfModule headers_module>
    Header set X-Content-Type-Options nosniff
    Header set X-Frame-Options SAMEORIGIN
</IfModule>

<FilesMatch "composer\.$">
    Deny from all
</FilesMatch>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# Expires
<IfModule mod_expires.c>
    ExpiresActive On

    ExpiresDefault "access plus 60 seconds"
    ExpiresByType text/html "access plus 3600 seconds"
    ExpiresByType text/php "access plus 3600 seconds"
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType font/truetype "access plus 1 year"
    ExpiresByType font/opentype "access plus 1 year"
    ExpiresByType application/x-font-woff "access plus 1 year"
    ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
    ExpiresByType video/ogg "access plus 1 year"
    ExpiresByType audio/ogg "access plus 1 year"
    ExpiresByType audio/mp3 "access plus 1 year"
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/webm "access plus 1 year"
    ExpiresByType application/x-shockwave-flash "access plus 1 year"
    ExpiresByType text/x-component "access plus 604800 seconds"
    ExpiresByType application/javascript "access plus 604800 seconds"
    ExpiresByType text/x-javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
    ExpiresByType application/xhtml+xml "access plus 3600 seconds"
    ExpiresByType text/xml "access plus 0 seconds"
    ExpiresByType application/xml "access plus 0 seconds"
    ExpiresByType application/rss+xml "access plus 3600 seconds"
    ExpiresByType application/json "access plus 0 seconds"
</IfModule>

# Включаем кэш в браузерах посетителей
<IfModule mod_expires.c>
  <filesMatch "\.(ico|jpg|jpeg|png|svg|gif|swf|ogg|ogv|svgz|eot|otf|woff|mp4|ttf|rss|atom|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf|js|css)$">
        Header set Cache-Control "max-age=2592000, public"
    </filesMatch>
    <FilesMatch "\.(xml|txt)$">
        Header set Cache-Control "max-age=172800, public, must-revalidate"
    </FilesMatch>
    <filesMatch "\.(x?html?|php)$">
        Header set Cache-Control "max-age=60, private, must-revalidate"
    </filesMatch>
</IfModule>

# Выключаем проверку объектных тегов ETag
<ifModule mod_headers.c>
  <filesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
    Header unset ETag
    FileETag None
 </filesMatch>
</ifModule>

#Сжимаем элементы с помощью mod_deflate
<IfModule mod_deflate.c="">
    <filesmatch .(js|css|jpg|gif|png|tiff|ico|svg)$="">
        SetOutputFilter DEFLATE
    </filesmatch>
#AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</IfModule>

<IfModule mod_gzip.c>
    mod_gzip_on Yes
    mod_gzip_update_static No
    mod_gzip_dechunk Yes
    mod_gzip_item_include file \.(html?|txt|css|js|php|pl|xml)$
    mod_gzip_item_exclude file \.(jpg|png|gif)$
    mod_gzip_item_include handler ^cgi-script$
    mod_gzip_item_include mime ^text/.*
    mod_gzip_item_include mime ^application/x-javascript.*
    mod_gzip_item_include mime ^application/x-httpd-php
    mod_gzip_item_include mime ^application/xml
    mod_gzip_item_exclude mime ^image/.*
    mod_gzip_item_include mime ^text/html$
    mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
    mod_gzip_maximum_file_size 100000
    mod_gzip_minimum_file_size 300
    mod_gzip_maximum_inmem_size 100000
</IfModule>

<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
        RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
</IfModule>

<FilesMatch ".(eot|otf|ttf|woff|woff2)">
    Header always set Access-Control-Allow-Origin "*"
</FilesMatch>
