AddDefaultCharset UTF-8

# mod_autoindex
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# mod_rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    RewriteRule ^backend(.*)$ backend/$1 [L]

    # Переадресацыя на www
    RewriteCond %{HTTP_HOST} ^myarredo.ru [NC]
    RewriteRule ^(.*)$ http://www.myarredo.ru/$1 [R=permanent,L]

    # Поддоменн без www
    RewriteCond %{HTTP_HOST} ^www\.([A-Za-z0-9_-]*)\.myarredo\.ru
    RewriteRule ^(.*)$ http://%1.myarredo.ru/$1 [R=permanent,L]

    # убираем index.php
    RewriteCond %{THE_REQUEST} ^.*/index.php
    RewriteRule ^(.*)index.php$ /$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule . index.php [L]
</IfModule>

# headers_module is protect framed
<IfModule headers_module>
    Header set X-Content-Type-Options nosniff
    Header set X-Frame-Options SAMEORIGIN
</IfModule>

<FilesMatch "composer\.$">
    Deny from all
</FilesMatch>

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# кеширование в браузере на стороне пользователя
<IfModule mod_expires.c>
    ExpiresActive On
    <FilesMatch "\.(ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$">
        Header set Cache-Control "max-age=2592000, must-revalidate"
    </FilesMatch>
</IfModule>

# Удалить заголовок ETag (иначе есть проблемы с кешированием при включенном сжатии)
<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None